#container {
  top: 30px;
  outline: 1px solid #000;
  margin: auto;
  height: 600px;
  width: 600px;
  border: none;
  float: left;
}

.grid {
  position: absolute;
  height: 30px;
  width: 30px;
  outline: 1px solid #000;
}

.info {
  float: right;
  margin-top: 200px;
  margin-right: 300px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
}
